@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAEAEA;
  font-family: 'Inconsolata', monospace;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #0D0D0D;
  padding: 10px;
  
}

.Nav div{
  
  font-size: 20px;
  text-decoration: none;
}
 .Nav a {
  color: #3EFF92;
  text-decoration: none;
}
.Nav a:hover{
  color:white;
  
}


.Stock{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Stock div{
  background-color: #333333;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.Stock h2{
  color:white;
}

.Main{
  text-align: center;
  padding:2vmin;
  font-size: 4vmin;
}